* {
  line-height: 140%;
}

body {
color: #111;
font-family: 'Karla', sans-serif;
font-size: 16px;
}

header {
  padding: 40px 5% 0 5%;
  background-image: url("../images/header_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.logonav {
  vertical-align: bottom;
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.centretext {
  text-align: center;
}

.toplogo {
  width: 340px;
  height: 42px;
  float: left;
}

nav {
  font-size: 1.35rem;
  height: 42px;
  padding-top: 22.5px;
	float: right;
  position: relative;

}

ul#desktopnav li {
	display:inline;
	padding: 8px;
}

#desktopnav a:link, #desktopnav a:visited, #tabletnav a:link, #tabletnav a:visited, #mobilenav a:link, #mobilenav a:visited,
.bigactionbutton a:link, .bigactionbutton a:visited, .smallactionbutton a:link, .smallactionbutton a:visited {
    color: #ffffff;
}

#desktopnav a:hover, #desktopnav a:active {
    color: #81bc00;
}

#tabletnav a:hover, #tabletnav a:active, #mobilenav a:hover, #mobilenav a:active,
.bigactionbutton a:hover, .bigactionbutton a:active, .smallactionbutton a:hover, .smallactionbutton a:active {
  color: #E6D3A3;
}


.tablethamburger {
  padding-right: 8px;
  text-align: right;
  display: none;
}

#tabletnav, #mobilenav {
	display: none;
}

ul#tabletnav li {
	display:block;
  font-size: 1.2rem;
	padding: 8px;
  background-color: #81bc00;
  text-align: right;
}

ul#mobilenav li {
	display:block;
  font-size: 1.2rem;
	padding: 8px;
  background-color: #81bc00;
  text-align: left;
}

.mobilehamburger {
  padding-left: 8px;
  text-align: left;
  display: none;
  background-color: #000000;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 2.6rem;
  padding: 80px 5% 60px 5%;
  clear: both;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 18px;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-bottom: 20px;
}

h4 {
  font-size: 1.8rem;
  text-align: center;
}

.keytext {
  font-size: 1.3rem;
  line-height: 140%;
}

.weight700 {
	font-weight: 700;
}

.weight400 {
  font-weight: 400;
}

.whitetext {
  color: #ffffff;
}

.greentext {
  color: #81bc00;
}

.font090rem {
  font-size: 0.9rem;
}

.font1p2rem {
  font-size: 1.2rem;
}

.font2rem {
  font-size: 2rem;
}

.font2p2rem {
  font-size: 2.2rem;
}

.greenbackground {
  background-color: #81bc00;
}

.textmargin {
  padding-bottom: 20px;
}

.nomargin {
  margin: 0;
}

.smallactionbutton {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding: 25px 5% 25px 5%;
  margin-bottom: 40px;
}

.summary {
  padding: 60px 11% 20px 11%;
}

.diagrams {
  padding: 20px 25% 70px 25%;
}

.calltoaction {
  padding: 0 11% 80px 11%;
  height: 380px;
  /*overflow: auto;*/
}

.video {
 width: 47%;
 height: 100%;
 margin: 0 3% 0 0;
 float: left;
 background-color: blue;
}

.bigactionbutton {
  width: 47%;
  height: 100%;
  float: left;
  margin: 0 0 0 3%;
  padding: 65px 5% 0 5%;
}

.furtherinfo {
  padding: 0 11% 80px 11%;
  clear: both;
}

.sponsors {
  width: 47%;
  margin: 0 3% 0 0;
  padding: 20px 5% 20px 5%;
  float: left;
}

.inline {
  display: inline;
}

ul.sponsorlogos {
  padding: 20px 0 5px 0;
  line-height: 2.2rem;
}

ul.sponsorlogos li {
	display:inline;
  padding: 9px;
}

.mobilesponsors {
  display: none;
}

.twitter {
  width: 47%;
  margin: 0 0 80px 3%;
  float: left;
}

#contact {
  width: 100%;
  padding: 48px 11% 0 11%;
  clear: both;
}

#left {
  vertical-align: top;
}

#right {
  vertical-align: top;
}

.contactinfo {
  width: 50%;
  display: inline;
}

.emailus {
  display: inline-block;
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.halfwidth {
  display: inline-block;
  width: 47%;
}
.contactsingle {
  display: inline-block;
  vertical-align: text-top;
  width: 49%;
  padding-right: 3%;
  margin-bottom: 30px;
}

.contact-detail-list li a {
  color: #ffffff;
}

.socialmedia {
  width: 97%;
}

ul.socialmedia li {
	display:inline;
  padding: 0 8.5% 0 0;
  text-align: center;
}

.socialmediamobile {
  display: none;
}

ul.socialmediamobile li {
  display:inline;
  padding: 0 8.5% 0 0;
}


input {
  background-color: #ffffff;
  height: 28px;
  width: 100%;
  border: 0;
  margin: 5px 0 15px 0;
}

input[name=message] {
  height: 56px;
}

input[type=submit] {
  font-family: 'Karla', sans-serif;
  height: 28px;
  width: 25%;
  border: 0;
  float: right;
  margin-bottom: 45px;
}

.forminput {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: #000000;
  padding: 5px;
}

textarea {
    height: 56px;
    width: 100%;
    border: 0;
    margin: 5px 0 10px 0;
}

footer {
  padding: 30px 11% 30px 11%;
  clear: both;
}

@media only screen and (max-width:1300px){
  .diagrams {
    padding: 20px 21.5% 70px 21.5%;
  }
}

@media only screen and (max-width:1263px){
  .bigactionbutton {
    padding: 45px 5% 0 5%;
  }
}

@media only screen and (max-width:1000px){
  .diagrams {
    padding: 20px 18% 70px 18%;
  }
}

@media only screen and (max-width:1068px){
  #desktopnav {
  	font-size: 1.15rem;
  }
}

@media only screen and (max-width:1034px){
  nav {
    padding-top: 24px
  }
  #desktopnav {
  	font-size: 1.1rem;
  }
  ul#desktopnav li {
  	padding: 7px;
  }
  h1 {
    font-size: 2.2rem;
    padding: 60px 5% 60px 5%;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  .bigactionbutton {
    padding: 50px 5% 50px 5%;
  }
  .keytext {
    font-size: 1.2rem;
  }
  ul.socialmedia li {
    padding: 0 7.5% 0 0;
  }
  .forminput {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width:976px){
  .toplogo {
    width: 290px;
    height: 36px;
  }
  nav {
    height: 36px;
    padding-top: 21px
  }
  #desktopnav {
  	font-size: 1rem;
  }
  ul#desktopnav li {
    padding: 5px;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1.1rem;
    line-height: 140%;
  }
  ul.socialmedia li {
    padding: 0 6% 0 0;
  }
}

@media only screen and (max-width:896px){
  nav {
    padding-top: 16px
  }
  #desktopnav {
  	display: none;
  }
  h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  .smallactionbutton {
    padding: 20px 5px;
  }
  .bigactionbutton {
    padding: 65px 5% 0 5%;
  }
  ul.socialmedia li {
    padding: 0 5% 0 0;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1rem;
    line-height: 140%;
  }
}

@media only screen and (min-width:896px){
  #tabletnav {
  	display: none;
  }
  .tablethamburger {
    display: none;
  }
}

@media only screen and (max-width:896px){
  ul.socialmedia li {
    padding: 0 3% 0 0;
  }
  .tablethamburger {
    display: block;
  }
}

@media only screen and (max-width:768px){
  .bigactionbutton h3 {
    padding-bottom: 10px;
  }
  .smallactionbutton {
    margin-bottom: 0px;
  }
  .summary {
    padding: 50px 11% 50px 11%;
  }
  .diagrams {
    padding: 5px 12% 70px 12%;
  }
  .calltoaction {
    padding: 0;
  }
  .video {
   width: 100%;
   margin: 20px 0 0 0;
  }
  .bigactionbutton {
    width: 100%;
    height: 140px;
    margin: 0 0 20px 0;
    padding: 30px 4% 0 4%;
  }
  .sponsors {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
  }
  .desktopsponsors {
    display: none;
  }
  .mobilesponsors {
    display: block;
  }
  .twitter {
    display: none;
  }
  #contact {
    padding: 30px 11% 0 11%;
  }
  #left {
    width: 100%;
  }
  #right {
    width: 100%;
  }
  .socialmedia {
    display: none;
  }
  .socialmediamobile {
    display: inline-block;
    width: 100%;
  }
  ul.socialmediamobile li:nth-child(4) {
    padding: 0;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1.2rem;
    line-height: 140%;
  }
}

@media only screen and (min-width:508px){
  #mobilenav {
  	display: none;
  }
  .mobilehamburger {
    display: none;
  }
  #mobilediagrams {
    display: none;
  }
}

@media only screen and (max-width:508px){
  h1 {
    padding-top: 96px;
  }
  #tabletnav {
  	display: none;
  }
  .tablethamburger {
    display: none;
  }
  nav {
    /*clear: both;*/
    width: 100%;
    margin-top: 10px;
    float: left;
  }
  .mobilehamburger {
    display: block;
    padding: 12px;
    margin: 10px 0;
  }
  .smallactionbutton {
    width: 100%;
  }
  .desktopdiagrams {
    display: none;
  }
  ul#mobilediagrams {
    display: block;
  }
  ul#mobilediagrams li {
    text-align: center;
  }
  ul#mobilediagrams li:first-child {
    padding: 0 0 12px 0;
  }
  ul#mobilediagrams li:nth-child(2) {
    padding: 12px 0;
  }
  ul#mobilediagrams li:nth-child(3) {
    padding: 12px 0 0 0;
  }
}

@media only screen and (max-width:436px){
  .bigactionbutton h4 {
    font-size: 1.2rem;
  }
  .bigactionbutton {
    padding: 30px 5% 30px 5%;
  }
}

@media only screen and (max-width:420px){
  .summary {
    padding: 40px 11% 40px 11%;
  }
  .diagrams {
    padding-bottom: 40px;
  }
  ul.socialmediamobile li {
    padding: 0 4% 0 0;
  }
}



@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {

}
