* {
  line-height: 140%;
}

body {
color: #111;
font-family: 'Karla', sans-serif;
font-size: 16px;
}

header {
  padding: 40px 3.5% 0 3.5%;
  background-image: url("../images/header_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.centretext {
  text-align: center;
}

.toplogo {
  width: 340px;
  height: 42px;
  float: left;
}

nav {
  font-size: 1.3rem;
  padding: 25px 0 25px 0;
	float: right;
}

ul#desktopnav li {
	display:inline;
	padding: 8px;
}

#desktopnav a:link, #desktopnav a:visited {
    color: #ffffff;
}

#desktopnav a:hover, #desktopnav a:active, .actionbutton a:link, .actionbutton a:visited, .signupnow a:hover, .signupnow a:active {
    color: #81bc00;
}

ul#mobilenav li {
	display:block;
	padding: 8px;
}

#mobilenav a:link, #mobilenav a:visited {
    color: #ffffff;
}

#mobilenav a:hover, #mobilenav a:active, .actionbutton a:link, .actionbutton a:visited, .signupnow a:hover, .signupnow a:active {
    color: #81bc00;
}

#mobilenav {
	display: none;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 2.6rem;
  padding: 80px 5% 60px 5%;
  clear: both;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 18px;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-bottom: 20px;
}

h4 {
  font-size: 1.8rem;
  text-align: center;
}

.keytext {
  font-size: 1.3rem;
  line-height: 140%;
}

.weight700 {
	font-weight: 700;
}

.weight400 {
  font-weight: 400;
}

.whitetext {
  color: #ffffff;
}

.greentext {
  color: #81bc00;
}

.font090rem {
  font-size: 0.9rem;
}

.font1p2rem {
  font-size: 1.2rem;
}

.font2rem {
  font-size: 2rem;
}

.font2p2rem {
  font-size: 2.2rem;
}

.greenbackground {
  background-color: #81bc00;
}

.textmargin {
  padding-bottom: 20px;
}

.smallactionbutton {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 30px 0 30px 0;
  margin-bottom: 50px;
}

.summary {
  padding: 60px 11% 60px 11%;
}

.diagrams {
  padding: 0 11% 80px 11%;
}

ul#diagrams li {
	display:inline;
}

ul#diagrams li img {
  vertical-align: middle;
}

.calltoaction {
  padding: 0 11% 80px 11%;
  overflow: auto;
}

.video {
 width: 47%;
 height: 315px;
 margin: 0 3% 0 0;
 float: left;
 background-color: blue;
}

.bigactionbutton {
  width: 47%;
  height: 315px;
  float: left;
  margin: 0 0 0 3%;
  padding: 70px 30px 70px 30px;
}

.furtherinfo {
  padding: 0 11% 80px 11%;
  clear: both;
}

.sponsors {
  width: 47%;
  margin: 0 3% 0 0;
  padding: 20px;
  float: left;
  border: 1px solid black;
}

.inline {
  display: inline;
}

ul.sponsorlogos {
  padding: 20px 0 10px 0;
}

ul.sponsorlogos li {
	display:inline;
  padding: 9px;
}

.mobilesponsors {
  display: none;
}

.twitter {
  height: 405px;
  width: 47%;
  margin: 0 0 0 3%;
  float: left;
  border: 1px solid black;
}

#contact {
  width: 100%;
  padding: 48px 11% 0 11%;
  clear: both;
}


.contactinfo {
  width: 50%;
  display: inline;
}

.emailus {
  display: inline-block;
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.halfwidth {
  display: inline-block;
  width: 49%;
}
.contactsingle {
  display: inline-block;
  vertical-align: text-top;
  width: 49%;
  padding-right: 3%;
}

.socialmedia {
  width: 100%;
  margin-top: 30px;
}

ul.socialmedia li {
	display:inline;
  padding: 0 38px 0 0;
}

.socialmediamobile {
  display: none;
}

ul.socialmediamobile li {
  display:inline;
  padding: 0 38px 0 0;
}


input {
  background-color: #5f9932;
  height: 28px;
  width: 100%;
  border: 0;
  margin-bottom: 15px;
}

input[name=message] {
  height: 56px;
}

input[type=button] {
  font-family: 'Karla', sans-serif;
  height: 28px;
  width: 20%;
  border: 0;
  float: right;
}

footer {
  padding: 30px 11% 30px 11%;
  clear: both;
}

@media only screen and (max-width:1034px){
  #desktopnav {
  	font-size: 1.15rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  .bigactionbutton {
    padding: 50px 30px 50px 30px;
  }
  .keytext {
    font-size: 1.2rem;
  }
  ul.socialmedia li {
    padding: 0 20px 0 0;
  }
  input[type=text] {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width:976px){
  #desktopnav {
  	font-size: 0.95rem;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1.1rem;
    line-height: 140%;
  }
}

@media only screen and (max-width:896px){
  #desktopnav {
  	display: none;
  }
  h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font: 1.2rem;
  }
  .toplogo {
    width: 290px;
    height: 36px;
  }
  ul.socialmedia li {
    padding: 0 10px 0 0;
    text-align: center;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1rem;
    line-height: 140%;
  }

}

@media only screen and (min-width:896px){
  #mobilenav {
  	display: none;
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width:768px){
  .smallactionbutton {
    width: 100%;
    margin-bottom: 0px;
  }
  .calltoaction {
    padding: 0;
  }
  .video {
   width: 100%;
   margin: 20px 0 0 0;
  }
  .bigactionbutton {
    width: 100%;
    height: 160px;
    margin: 0 0 20px 0;
    padding: 30px;
  }
  .sponsors {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    border: 1px solid black;
  }
  .desktopsponsors {
    display: none;
  }
  .mobilesponsors {
    display: block;
  }
  .twitter {
    display: none;
  }
  #left {
    width: 100%;
  }
  #right {
    width: 100%;
  }
  .socialmedia {
    display: none;
  }
  .socialmediamobile {
    display: inline;
    width: 100%;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1.2rem;
    line-height: 140%;
  }
}

@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {

}
