/***************************
****************************
Blanket styles
****************************
***************************/

* {
  line-height: 140%;
}

body {
  color: #111;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

/***************************
****************************
Header
****************************
***************************/

/*main page header*/
header {
  padding: 40px 5% 0 5%;
  background-image: url("../images/header_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*sticky header on pages other than front page*/
#additionalhead {
  height: 110px;
}

#additionalhead.fixed {
  position:fixed;
  left:0;
  top:0;
  width:100%;
}

/***************************
****************************
Navigation
****************************
***************************/

nav {
  font-size: 1.35rem;
  height: 42px;
  padding-top: 22.5px;
	float: right;
  position: relative;
}

.toplogo {
  width: 340px;
  height: 42px;
  float: left;
}

ul#desktopnav li {
	display:inline;
	padding: 8px;
}

/*hide additional navs until media query is applied*/
#tabletnav, #mobilenav {
	display: none;
}

ul#tabletnav li {
	display:block;
  font-size: 1.2rem;
	padding: 8px;
  background-color: #81bc00;
  text-align: right;
}

.tablethamburger {
  padding-right: 8px;
  text-align: right;
  display: none;
}

ul#mobilenav li {
	display:block;
  font-size: 1.2rem;
	padding: 8px;
  background-color: #81bc00;
  text-align: left;
}

.mobilehamburger {
  padding-left: 8px;
  text-align: left;
  display: none;
  background-color: #000000;
}

/***************************
****************************
Text
****************************
***************************/

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 2.6rem;
  padding: 80px 5% 60px 5%;
  clear: both;
}

.maincontainer h1 {
  font-size: 2rem;
  padding: 0 0 18px 0;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 18px;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-bottom: 20px;
}

h4 {
  font-size: 1.8rem;
  text-align: center;
}

h5 {
  font-size: 1.3rem;
  padding: 18px 0;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.centretext {
  text-align: center;
}

.keytext {
  font-size: 1.3rem;
  line-height: 140%;
}

.weight400 {
  font-weight: 400;
}

.weight700 {
	font-weight: 700;
}

.whitetext {
  color: #ffffff;
}

.greentext {
  color: #81bc00;
}

.font1p2rem {
  font-size: 1.2rem;
}

/***************************
****************************
Colour
****************************
***************************/

.greenbackground {
  background-color: #81bc00;
}

/***************************
****************************
Links
****************************
***************************/

#desktopnav a:link, #desktopnav a:visited, #tabletnav a:link, #tabletnav a:visited, #mobilenav a:link, #mobilenav a:visited, .bigactionbutton a:link, .bigactionbutton a:visited, .smallactionbutton a:link, .smallactionbutton a:visited {
    color: #ffffff;
}

#desktopnav a:hover, #desktopnav a:active {
    color: #81bc00;
}

#tabletnav a:hover, #tabletnav a:active, #mobilenav a:hover, #mobilenav a:active,
h3 a:hover, h3 a:active, a:active h3, a:hover h3 {
  color: #E6D3A3;
}

/***************************
****************************
Action buttons
****************************
***************************/

.smallactionbutton {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding: 25px 5% 25px 5%;
  margin-bottom: 40px;
}

.bigactionbutton {
  width: 47%;
  height: 100%;
  float: left;
  margin: 0 0 0 3%;
  padding: 65px 5% 0 5%;
}

/***************************
****************************
Sections of the front page
****************************
***************************/

.summary {
  padding: 60px 11% 0px 11%;
}

.diagrams {
  width: 100%;
  padding: 20px 0 70px 0;
  margin: 0 auto;
}

.calltoaction {
  padding: 0 11% 80px 11%;
  height: 380px;
}

.vid {
 width: 47%;
 height: 100%;
 margin: 0 3% 0 0;
 float: left;
 background-color: blue;
}

.furtherinfo {
  padding: 0 11% 80px 11%;
  clear: both;
}

.sponsors {
  width: 47%;
  margin: 0 3% 0 0;
  padding: 20px 5% 20px 5%;
  float: left;
}

ul.sponsorlogos {
  padding: 20px 0 5px 0;
  line-height: 2.2rem;
}

ul.sponsorlogos li {
	display:inline;
  padding: 9px;
}

.mobilesponsors {
  display: none;
}

.twitter {
  width: 47%;
  margin: 0 0 80px 3%;
  float: left;
}

/***************************
****************************
For the javascript image flipping
****************************
***************************/

#theArt {
  overflow: hidden;
  width: 850px;
  margin: 0 auto;
}

.artGroup {
  display: inline-block;
  width: 280px;
  height: 280px;
  position: relative;
  padding: 20px;
}

.artwork {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.artGroup img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.artGroup .detail {
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
}

.artGroup .detail p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0px;
  padding: 15px 1%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Older Browsers */

.artGroup.slide { overflow: hidden; }

.artGroup.slide .detail { bottom: -364px; }

/* Newer Browsers */

.artGroup.flip {
  -webkit-perspective: 800px;
  perspective: 800px;
}

.artGroup.flip .artwork {
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.artGroup.flip .detail,
.artGroup.flip .theFlip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.artGroup.flip img,
.artGroup.flip .detail {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/***************************
****************************
Sections of all pages other than front page
****************************
***************************/

.maincontainer {
  padding: 135px 11% 10px 11%;
}

.mainimages {
  width: 100%;
  margin: 10px 0 20px 0;
}

.maintext {
  width: 100%;
}

ul.maintext li {
	display:inline-block;
  vertical-align: top;
	padding: 15px;
  width: 32.8%;
}

ul.maintext li img{
	width: 75%;
  height: 75%;
}

/***************************
****************************
Contact section at bottom of every page
needed some fiddling to make it sit right
****************************
***************************/

#contact {
  width: 100%;
  padding: 48px 11% 0 11%;
  clear: both;
}

#left, #right {
  vertical-align: top;
}

.contactinfo {
  width: 50%;
  display: inline;
}

.emailus {
  display: inline-block;
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.halfwidth {
  display: inline-block;
  width: 47%;
}

.contactsingle {
  display: inline-block;
  vertical-align: text-top;
  width: 49%;
  padding-right: 3%;
  margin-bottom: 30px;
}

.contact-detail-list li a {
  color: #ffffff;
}

.socialmedia {
  width: 97%;
}

ul.socialmedia li {
	display:inline;
  padding: 0 8.5% 0 0;
  text-align: center;
}

.socialmediamobile {
  display: none;
}

ul.socialmediamobile li {
  display:inline;
  padding: 0 8.5% 0 0;
}

/***************************
****************************
Form styling in contact section
****************************
***************************/

input {
  background-color: #ffffff;
  height: 28px;
  width: 100%;
  border: 0;
  margin: 5px 0 15px 0;
}

input[name=message] {
  height: 56px;
}

input[type=submit] {
  font-family: 'Karla', sans-serif;
  height: 28px;
  width: 25%;
  border: 0;
  float: right;
  margin-bottom: 45px;
}

.forminput {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: #000000;
  padding: 5px;
}

textarea {
  height: 56px;
  width: 100%;
  border: 0;
  margin: 5px 0 10px 0;
}

footer {
  padding: 30px 11% 30px 11%;
  clear: both;
}

/***************************
****************************
Media queries
****************************
***************************/

/***************************
max-width:1263px
***************************/

@media only screen and (max-width:1263px){
  .bigactionbutton {
    padding: 45px 5% 0 5%;
  }
}

/***************************
max-width:1088px
***************************/

@media only screen and (max-width:1088px){
  #desktopnav {
  	font-size: 1.15rem;
  }
}

/***************************
max-width:1034px
***************************/

@media only screen and (max-width:1034px){
  nav {
    padding-top: 24px
  }
  #desktopnav {
  	font-size: 1.1rem;
  }
  ul#desktopnav li {
  	padding: 7px;
  }
  h1 {
    font-size: 2.2rem;
    padding: 60px 5% 60px 5%;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  .bigactionbutton {
    padding: 50px 5% 50px 5%;
  }
  .keytext {
    font-size: 1.2rem;
  }
  .forminput {
    font-size: 0.9rem;
  }
  ul.socialmedia li {
    padding: 0 7.5% 0 0;
  }
}

/***************************
max-width:976px
***************************/

@media only screen and (max-width:976px){
  .toplogo {
    width: 290px;
    height: 36px;
  }
  #additionalhead {
    height: 95px;
  }
  nav {
    height: 36px;
    padding-top: 21px
  }
  #desktopnav {
  	font-size: 1rem;
  }
  ul#desktopnav li {
    padding: 5px;
  }
  .maincontainer {
    padding: 120px 11% 10px 11%;
  }
  #theArt {
    width: 788px;
  }
  .artGroup {
    width: 260px;
    height: 260px;
  }
  .artGroup .detail p {
    font-size: 1.1rem;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1.1rem;
    line-height: 140%;
  }
  ul.socialmedia li {
    padding: 0 6% 0 0;
  }
}

/***************************
max-width:896px
***************************/

@media only screen and (max-width:896px){
  nav {
    padding-top: 16px
  }
  #desktopnav {
  	display: none;
  }
  .tablethamburger {
    display: block;
  }
  h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  .smallactionbutton {
    padding: 20px 5px;
  }
  .bigactionbutton {
    padding: 65px 5% 0 5%;
  }
  #theArt {
    width: 728px;
  }
  .artGroup {
    width: 240px;
    height: 240px;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1rem;
    line-height: 140%;
  }
  ul.socialmedia li {
    padding: 0 3% 0 0;
  }
}

/***************************
min-width:896px - to hide tablet nav elements
***************************/

@media only screen and (min-width:896px){
  #tabletnav, ul#tabletnav li, .tablethamburger {
  	display: none;
  }
}

/***************************
max-width:768px
***************************/

@media only screen and (max-width:768px){
  .smallactionbutton {
    margin-bottom: 0px;
  }
  .bigactionbutton {
    width: 100%;
    height: 140px;
    margin: 0 0 20px 0;
    padding: 30px 4% 0 4%;
  }
  .bigactionbutton h3 {
    padding-bottom: 10px;
  }
  .summary {
    padding: 50px 11% 20px 11%;
  }
  .diagrams {
    padding: 0 0 50px 0;
  }
  #theArt {
    width: 668px;
  }
  .artGroup {
    width: 220px;
    height: 220px;
  }
  .artGroup .detail p {
    font-size: 1rem;
  }
  .calltoaction, ul.socialmediamobile li:nth-child(4) {
    padding: 0;
  }
  .vid {
   width: 100%;
   margin: 20px 0 0 0;
  }
  .sponsors {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
  }
  .desktopsponsors, .twitter, .socialmedia {
    display: none;
  }
  .mobilesponsors {
    display: block;
  }
  #contact {
    padding: 30px 11% 0 11%;
  }
  #left, #right {
    width: 100%;
  }
  .contactsingle, form.font1p2rem, input.font1p2rem {
    font-size: 1.2rem;
    line-height: 140%;
  }
  .socialmediamobile {
    display: inline-block;
    width: 100%;
  }
}

/***************************
max-width:688px
***************************/

@media only screen and (max-width:688px){
  .diagrams {
    padding: 0 0 40px 0;
  }
  #theArt {
    width: 593px;
  }
  .artGroup {
    width: 190px;
    height: 190px;
  }
  ul.maintext li {
  	display:inline;
    width: 100%;
    padding: 15px 0;
  }
  ul.maintext li img {
    height: 55%;
    width: 55%;
  }
}

/***************************
max-width:896px
***************************/

@media only screen and (max-width:578px){
  .diagrams {
    padding: 0 0 40px 0;
  }
  #theArt {
    width: 260px;
    margin: 0 auto;
  }
  .artGroup {
    display: block;
    width: 260px;
    height: 260px;
  }
  .artGroup .detail p {
    font-size: 1.2rem;
  }
}

/***************************
min-width:508px - to hide mobile elements
***************************/

@media only screen and (min-width:508px){
  #mobilenav, ul#mobilenav li, .mobilehamburger, .mainimagesmobile {
  	display: none;
  }
}

/***************************
max-width:508px
***************************/

@media only screen and (max-width:508px){
  #additionalhead {
    height: 169px;
  }
  nav {
    width: 100%;
    margin-top: 0px;
    float: left;
  }
  #tabletnav, ul#tabletnav li, .tablethamburger, .mainimages {
  	display: none;
  }
  .mobilehamburger {
    display: block;
    padding: 12px;
    margin: 10px 0;
  }
  h1 {
    padding-top: 96px;
  }
  .smallactionbutton {
    width: 100%;
  }
  .maincontainer {
    padding: 194px 11% 10px 11%;
  }
  .mainimagesmobile {
    display: block;
    margin: 10px 0 20px 0;
  }
}

/***************************
max-width:436px
***************************/

@media only screen and (max-width:436px){
  .bigactionbutton {
    padding: 30px 5%;
  }
  .bigactionbutton h4 {
    font-size: 1.2rem;
  }
  input[type=submit] {
    width: 32%;
  }
}

/***************************
max-width:420px
***************************/

@media only screen and (max-width:420px){
  .summary {
    padding: 40px 11%;
  }
  .diagrams {
    padding-bottom: 40px;
  }
  ul.socialmediamobile li {
    padding: 0 4% 0 0;
  }
}

/***************************
max-width:388px
***************************/

@media only screen and (max-width:388px){
  .bigactionbutton {
    padding: 22px 5%;
  }
  .bigactionbutton h4 {
    font-size: 1.1rem;
  }
}

/***************************
max-width:382px
***************************/

@media only screen and (max-width:382px){
  .contactsingle {
    font-size: 1rem;
    line-height: 140%;
  }
  h1 {
    font-size: 1.6rem;
  }
  ul.socialmediamobile li img {
    width: 20%;
    height: 20%;
  }
}
